body{
    padding:0;
    margin:0;
    background-color: #eee;
}
#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.container{
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    box-shadow: 2px 2px 10px #1e1e1e;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
img{
    width: 5rem;
    height: 5rem;
    border: 2px solid #1e1e1e;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.img-container{
    position:absolute;
    top: -12%;
    left: 35%;
}

.email-btn{
    background-color: rgb(68, 174, 216);
    border: 0;
    padding: 3px 0.5rem;
    color: #fff;
    margin: 15px 10px;
    display: flex;
    font-size: 0.8rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.email-btn .material-symbols-outlined{
    font-size:0.9rem;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,'wght' 300,'GRAD' 0,'opsz' 48
  
}

.codes{
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.codes div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.num-code{
    font-weight: 500;
}
.num-name{
    color: #4e4e4e;
    font-size: 0.6rem;
    padding: 0.3rem 0;
}

.name_loc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1.5rem;

}
.name{
    font-weight: 600;
    font-size: large;
}

.loc{
    color: #4e4e4e;
    font-size: small;
    padding: 0.5rem 0;
}

.contact::before{
    content: "";
    display: block;
    position: relative;
    width: 90%;
    height: 2px;
    background-color:  rgb(68, 174, 216);;
}
.contact{
    font-family: Poppins,serif;
    font-size: small;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contact .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.contact .content span{
    padding: 0 0.1rem;
}

.contact .content div{ 
    margin: 0 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact .content div .material-symbols-outlined{
    font-size: 0.9rem;
    color:  rgb(68, 174, 216);
}

.get-new-user {
    margin: 2rem 0;
}
.get-new-user button{
    width: 7rem;
    color: #fff;
    background-color: rgb(68, 174, 216);
    font-family: Poppins,serif;
    font-size: 0.8rem;
    height: 2rem;
    border: 0px;
    cursor: pointer;
}
